.nav-background{
    background-image: linear-gradient(to right, #E6AF2E, #FF9B54);
}

.search-box{
    border: 1px solid #EAEFB1;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F5E3;
    padding: 10px;
    height: 40px;
}

.search-text{
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    padding: 0;
    line-height: 2;
    width: 120px;
}